:root {
    --primary-color: #e54a35;
    --text-color: #081b33;
    --text-heading-color: #04101f;
    --overlay-text: #081b33;
    --background-color: #f2f2f2;
    --link-color: #e54a35;
    --theme-toggle: #ffffff1a;
    --theme-toggle-hover: #ffffff73;
    --theme-toggle-border: #d8d8d8;
    --header-background: #ffffff;
    --font-primary: 'calluna', serif;
    --font-semibold: 'calluna', serif;
    --font-secondary: 'futura-pt', sans-serif;
    --divider: #bbb;
}

[data-theme="dark"] {
    --primary-color: #ff715e;
    --text-color: #cccccc;
    --overlay-text: #081b33;
    --text-heading-color: #f2f2f2;
    --theme-toggle: #ffffff1a;
    --theme-toggle-hover: #ffffff2d;
    --theme-toggle-border: rgba(221, 221, 221, 0.243);
    --background-color: #030a13;
    --link-color: #ff715e;
    --header-background: #333333;
    --divider: #616161;
    /* Add more dark theme specific variables as needed */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--link-color);
}

.overlay {
    background-color: var(--overlay-background-color);
    color: var(--overlay-text);
}

/* Additional elements to style using the theme variables */
.header-container, .footer-container {
    background-color: var(--background-color);
    color: var(--text-color);
}

.theme-toggle {
    background: var(--theme-toggle);
    border: none;
    cursor: pointer;
    color: var(--text-color);
    border: 1px solid var(--theme-toggle-border);
    border-radius: 3px;
    padding: 8px 8px ;
}

.theme-toggle:hover {
    background-color: var(--theme-toggle-hover);
}

.site-body {
    background-color: var(--background-color);
    font-family: var(--font-primary);
    color: var(--text-color);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-header {
    width: 100%;
    max-width: 1200px;
    padding: 68px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu-button {
    display: none; /* Hide by default */
    align-items: center;
}

.navigation-menu .navigation-link.active {
    color: var(--primary-color); /* Orange color for active link */
}


.menu-icon {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

.menu-icon-line {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
}

.email-link {
    font-family: var(--font-secondary);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--primary-color);
}

.email-link:hover {
    color: var(--text-color)
}

.site-title-link {
    font-family: var(--font-secondary);
    font-size: 34px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.34px;
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color);
}

.navigation-menu {
    display: flex;
    gap: 20px;
}

.navigation-link, .footer-link {
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.63px;
}

.main-content {
    width: 100%;
    max-width: 1200px;
    padding: 68px 20px;
}

.intro-section, .writing-section {
    margin-bottom: 40px;
}

.intro-text, .writing-description {
    font-size: 28px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.4em;
    letter-spacing: -.01em;
    text-transform: none;   
    margin-bottom: 15px;
    line-height: 37.8px;
}

.section-title {
    font-family: var(--font-primary);
    color: var(--text-heading-color);
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 20px;
}

.content-divider {
    width: 100%;
    border: none;
    height: 2px;
    background-color: var(--divider);
    margin: 40px 0;
}

.footer-navigation {
    text-align: center;
    display: flex;
    gap: 16px;
    align-items: center;
}

.contact-email {
    font-family: var(--font-secondary);
    font-size: 16px;
    margin-top: 20px;
    color: var(--text-color);
}

/* Overlay styles */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    flex-direction: column;
    color: var(--text-color);
    font-family: var(--font-secondary);
}

.overlay .content {
    padding: 0px 56px;
}

.overlay.show {
    display: flex;
    height: 100%;

}

.overlay-title-link {
    font-size: 36px;
    margin-bottom: 56px;
    text-decoration: none;
    color: var(--text-heading-color);
}

[data-theme="dark"] .overlay-title-link {
    color: var(--text-heading-color);
    text-decoration: none;
    font-weight: 600; 
    font-size: 32px;
}

.navigation-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation-links li {
    margin: 24px 0;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
    color: var(--text-heading-color);
}

.navigation-links li {
    list-style: none;
}

/* General styles for the footer */
.site-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 68px 0px;
    text-align: center; /* Center text alignment by default */
    align-items: center; /* Center align items by default */
}

/* Style the footer links */
.footer-link {
    color: var(--primary-color); /* Orange color for links */
    text-decoration: none;
    margin: 8px 0; /* Space between links */
}

.footer-link:hover {
    text-decoration: underline; /* Optional: underline on hover */
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1e1e1e;
        --text-color: #f5f5f5;
        --link-color: #ff4500;
        --overlay-background-color: #333333;
    }
}

/* Media query for screens 992px and up */
@media (min-width: 992px) {
    .site-footer {
        text-align: left; /* Align text to the left */
        align-items: flex-start; /* Align items to the start (left) */
        justify-content: flex-start; /* Align the content to the left */
    }
}

/* Media Query to show hamburger menu on small screens */
@media (max-width: 1440px) {
    .site-body {
        margin: 0px 115px;
    }
}

@media (max-width: 1380px) {
    .email, .email-link {
        display: none;
    }
}

@media (max-width: 1024px) {
    .header-container {
        display: flex;
        align-items: center;
        justify-content: normal;
        gap: 24px; /* Add 24px gap between all child elements */
    }
    
    .menu-button {
        display: flex; /* Show the menu button on small screens */
    }

    .email {
        display: none;
    }

    .navigation-menu {
        display: none; /* Hide the navigation links on small screens */
    }
}

/* Ensure email is 16px font size between 768px to 320px */
@media (max-width: 768px) and (min-width: 320px) {
    .hamburger-menu {
        display: block;
    }
    
    .site-body {
        margin: 0px 48px;
    }

    .email {
        display: none;
    }
}

@media (max-width: 635px) and (min-width: 320px) {
    .site-title {
        display: block;
        font-size: 24px; /* Enforcing 16px font size */
    }
}

@media (max-width: 508px) and (min-width: 447px) {
    .site-title {
        display: block;
        font-size: 20px; /* Enforcing 16px font size */
    }
}

@media (max-width: 447px) and (min-width: 320px) {
    .site-title {
        display: block;
        font-size: 20px; /* Enforcing 16px font size */
    }

    .site-body {
        margin: 0px 16px;
    }
}

@media (max-width: 400px) and (min-width: 320px) {
    .site-title {
        display: block;
        font-size: 18px; /* Enforcing 16px font size */
    }
}

